<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/3 m-2">
        <div class="w-full md:max-w-sm rounded overflow-hidden border border-gray-100" style="max-height: 35rem;">
            <img class="w-full" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
              <div class="text-xs text-gra">
                <span><i class="ri-time-line"></i> 20-01-2024</span>
                <span class="p-2"><i class="ri-message-2-line"></i> 20 Comments</span>
            </div>
              <p class="text-gray-700 text-base ellipsis-4 mt-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div>
          </div>
    </div>
    <div class="w-full md:w-1/3 m-2">
        <div class="w-full md:max-w-sm rounded overflow-hidden border border-gray-100" style="max-height: 35rem;">
            <img class="w-full" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
              <div class="text-xs text-gra">
                <span><i class="ri-time-line"></i> 20-01-2024</span>
                <span class="p-2"><i class="ri-message-2-line"></i> 20 Comments</span>
            </div>
              <p class="text-gray-700 text-base ellipsis-4 mt-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 pt-4 pb-2">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
            </div>
          </div>
    </div>
    <div class="w-full md:w-1/3 m-2">
        <div class="w-full md:max-w-sm rounded overflow-hidden border border-gray-100" style="max-height: 35rem;">
            <img class="w-full" src="https://v1.tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                <div class="text-xs text-gra">
                    <span><i class="ri-time-line"></i> 20-01-2024</span>
                    <span class="p-2"><i class="ri-message-2-line"></i> 20 Comments</span>
                </div>
              <p class="text-gray-700 text-base ellipsis-4 mt-2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
            </div>
            <div class="px-6 pt-3 pb-2">
                <span class="text-prim">Read more</span>
            </div>
          </div>
    </div>
</div>