<div class="flex flex-col md:flex-row gap-2 justify-between mb-4 px-4">
  <div class="flex items-center gap-4">
      <div class="relative w-96">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-4 h-4 text-prim" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="search" id="default-search" class="block w-full p-2 pl-10 text-sm bg-secon text-gra placeholder-text-prim rounded-lg" placeholder="Search Mockups, Logos..." >
      </div>

  </div>
  @if(admin) {
    <div class="mx-3 space-x-3">
      <button class="bg-prim text-white font-normal py-1 px-4  rounded hover:opacity-90"  routerLink="/home" routerDirection="forward">
        Home
      </button>
      <button class="bg-prim text-white font-normal py-1 px-4  rounded hover:opacity-90" (click)="addEvent.emit('Create new blog')">
        Create new blog
      </button>
    </div>
  } @else {
    <button class="bg-transparent border border-prim text-prim font-normal py-1 px-4  rounded hover:opacity-90" routerLink="/blogs" routerDirection="forward">
      Manage blogs
  </button>
  }
</div>
<div class="flex flex-col md:flex-row flex-wrap gap-4">
  @for (item of data; track item.id) {
    <div class="md:w-1/4 m-4">
        <div class="w-full md:max-w-sm rounded overflow-hidden border border-gray-100" style="height: 28rem;">
            <img class="w-full" [src]="item?.image" [alt]="item?.title" style="height: 10rem;">
            <div class="px-6 py-4">
              <div class="font-bold text-xl mb-2 cursor-pointer">{{item.title}}</div>
                <div class="text-xs text-gra">
                    <span><i class="ri-time-line"></i> 20-01-2024</span>
                    <span class="p-2"><i class="ri-message-2-line"></i> 20 Comments</span>
                </div>
                @if(admin) {
                  <div class="text-xs flex gap-3 mt-3">
                    <span class="text-primary cursor-pointer" (click)="editEvent.emit({name: 'edit blog', id:item?.id})"><i class="ri-edit-line"></i>Edit</span>
                    <span class="text-danger cursor-pointer" (click)="deleteEvent.emit(item?.id)"><i class="ri-delete-bin-2-line"></i>Delete</span>
                  </div>
                }
              <p class="text-gray-700 text-base ellipsis-4 mt-2" [innerHTML]="item.description"></p>
            </div>
            <div class="px-6 pt-3 pb-2">
                <span class="text-prim cursor-pointer" [routerLink]="'/blog/'+item?.id" routerDirection="forward">Read more</span>
            </div>
          </div>
    </div>
  } @empty {
    <p class="text-gray-700 text-base ellipsis-4 mt-2">
      No post created yet
    </p>
  }
</div>